{% extends 'v1mHelloBundle:Hello:layout.html.twig' %}
{% block title %}Store{% endblock %}
{% block content %}
<div class="content">
	{# <div class='page'> #}
		<h2>Редактирование продукта</h2>
		{% include 'v1mStoreBundle:Store:product_form.html.twig' %}
		<p><a href="{{ path('v1m_store_index') }}">Все продукты</a></p>
	{# </div> #}
</div>
{% block msg %}{% endblock %}
{% endblock %}

