body {
	background-color: #afcfff;
}
a {
	text-decoration: none;
}
ul.menu {
}
li.odd {
	font-weight: bold;
}
li.even {
	font-style: italic;
}
.form_raw {
	clear: both;
	text-align: right;
}
.form_table {
	padding: 0;
	border-spacing: 0;
}
.page {
	/*float: left;*/
}
.form_raw label {
	float: left;
	padding-right: 10px;
	line-height: 25px;
}
.flash-notice {
	color: red;
	clear: left;
}
.lmenu {
	float: left;
	width: 20%;
	max-width: 180px;
	min-width: 160px;
	background: darkcyan;
	outline: 1px solid black;
	margin: 5px;
}
.lmenu ul {
	list-style: none;
	text-align: left;
	padding: 0;
	margin: 0;
	outline: 1px solid;
}
.lmenu ul li {
	padding-left: 20px;
	outline: none;
}
.lmenu ul li ul {
	outline: none;
}
.lmenu ul li ul li {
	padding-left: 10px;
}
.main {
	width: 80%;
	min-width: 700px;
	/*outline: 1px solid darkcyan;*/
	padding: 0;
	margin: 0 auto;
}
.head {
	background: teal;
	text-align: center;
	height: 80px;
	padding-top: 10px;
}
.topmenu {
	background: darkcyan;
	height: 25px;
}
.ltmenu {
	width: 20%;
	max-width: 190px;
	float: left;
}
.tmenu {
	font-weight: bold;
	text-align: center;
	width: 16%;
	max-width: 100px;
	float: left;
	outline: 1px solid;
}
.content {
	padding: 20px 10px 10px 10px;
	width: 75%;
	margin: 0 0 10px 21%;
	min-height: 300px;
}
.bottom {
	background: darkcyan;
	text-align: center;
	height: 50px;
}
.products {
}
.products table {
	border-spacing: 1px;
}
.products td {
	border: 1px solid black;
	padding: 3px;
}
.products thead tr td {
	text-align: center;
	font-weight: bold;
}